* {
  background-color: bisque;
  font-family: "Courier New", Courier, monospace;
  /* border: 2px solid black; */
}

h1 {
  text-align: center;
}

h2 {
  color: coral;
  text-shadow: 1px 1px 1px black;
}

img {
  height: auto;
  width: 600px;
  border: 4px solid white;
  box-shadow: 10px 10px 5px coral;
}

.recipes-container {
  width: 800px;
  margin: 0 auto;
}

.recipes-container ul {
  width: 400px;
  margin: 0 auto;
}
